@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;

}

.heading{
    font-family: "Montserrat";
    margin-bottom: 23px;
    color: rgb(237, 39, 39);
}

.inputtag {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: crimson; */
}

.input {
    /* width: 200px; */
    max-width: 190px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
    font-family: "Montserrat";
}

.label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
    font-family: "Poppins";
}

.input:hover,
.input:focus,
.input-group:hover .input {
    outline: none;
    border-color: #05060f;
}

.input-group:hover .label,
.input:focus {
    color: #05060fc2;
}

.radio-button-container {
    display: flex;
    align-items: center;
    gap: 24px;
}


.container {
    /* display: block; */
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
}

.gender {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gender-input {
    font-family: "Montserrat";
}

.submit {
    /* height: 40px;
    width: 70px; */
    /* border: none; */
    cursor: pointer;
    font-family: "Montserrat";
}

button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.outside-container {
    /* width: 500px; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    margin-top: 200px;
    /* border: 2px solid black; */
}